{
  "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "no-console": "off",
    "space-infix-ops": 0,
    "semi": [
      2,
      "never"
    ]
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ]
}